body {
  background-color: $black;
  font-size: 16px;
  color: $lightWhite;
}

h1 {
  color: $white;
}

h2 {
  color: $white;
}

h3 {
  color: $white;
}

footer {
  font-size: 0.75rem;
  background-color: $dimBlack; 
  color: $white;
  padding: 25px 15px;
  a {
    color: $black;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}
