.trade-list {
  &.order-list-buy {
    .order-list-title {
      background-color: $green !important;
    }
  }
  &.order-list-sell {
    .order-list-title {
      background-color: $red !important;
    }
  }
  color: $white;
}
