$black: rgb(0, 0, 0);
$dimBlack: rgb(20, 20, 20);
$lightBlack: rgb(40, 40, 40);

$white: rgb(255, 255, 255);
$dimWhite: rgb(200, 200, 200);
$lightWhite: rgb(240, 240, 240);

$red: rgb(60, 147, 59);
$green: rgb(204, 36, 36);

$purple: rgb(68, 19, 130);
$lightPurple: rgb(116, 28, 215); 
