.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid black;
  padding: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}